<li role="presentation" class="active" data-toggle="modal" data-target="#eleccion_de_proceso-modal">
  <a>Nuevo expediente</a>
</li>
<div id="eleccion_de_proceso-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">¿Que tipo de proceso desea crear?</h3>
      </div>
      <div class="modal-body">
        <%= link_to 'Contradictorio', new_cliente_expediente_path(@cliente.id), method: :get, class: 'btn btn-success btn-group' %>
        <%= link_to 'Voluntario', new_cliente_expediente_path(@cliente.id), method: :get, class: 'btn btn-success', disabled: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>