<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#" id="tabs__tab-activa">
      <% if @cliente &&  @cliente.nombre && @cliente.apellido %>
          <%= @cliente.nombre_completo %>
      <% else %>
          Nuevo cliente
      <% end %>
    </a>
  </li>
  <li role="presentation" class="tab_inactiva">
    <a href="/">Nuevo cliente</a>
  </li>
</ul>
<%= render 'shared/tabs_contenedor' do %>
  <%= yield %>
<% end %>