<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#" id="tabs__tab-activa">
      <% if @cliente &&  @cliente.nombre && @cliente.apellido %>
          <%= @cliente.nombre %> <%= @cliente.apellido %>
      <% else %>
          Nuevo cliente
      <% end %>
    </a>
  </li>
  <li role="presentation">
    <a href="/">Nuevo cliente</a>
  </li>
</ul>
<div class="tab-content clearfix">
  <div class="tab-pane active">
    <%= yield %>
  </div>
</div>