<%= render 'shared/tabs_contenedor' do %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <%= render 'modal_elegir_escrito' %>
    </li>
    <% @escritos.each do |escrito| %>
        <li role="presentation" >
          <%= link_to escrito.titulo, expediente_demanda_path(@expediente.id, escrito.id) %>
        </li>
    <% end %>
  </ul>
<% end %>
