<%= render 'shared/tabs_contenedor' do %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <%= render 'modal_elegir_escrito' %>
    </li>
    <%= render 'shared/tabs_escritos' %>
  </ul>
<% end %>
