<!--TODO: este partial deberia ser mas bien comoel _tabs_expedientes -->
<%= render 'shared/tabs_contenedor' do %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <%= render 'boton_elegir_escrito' %>
    </li>
  </ul>
<% end %>
