<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#" id="tabs__tab-activa">
      <% if @escrito &&  @escrito.titulo %>
          <%= @escrito.titulo %>
      <% else %>
          Nuevo Escrito
      <% end %>
    </a>
  </li>
</ul>
<%= render 'shared/tabs_contenedor' do %>
    <%= yield %>
<% end %>