<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#" id="tabs__tab-activa">
      <% if @escrito &&  @escrito.titulo %>
        <%= @escrito.titulo %>
      <% else %>
        Nuevo Escrito
      <% end %>
    </a>
  </li>
  <% escritos_que_no_son(@escrito, @expediente.escritos).each do |escrito| %>
      <li role="presentation" >
        <%= link_to escrito.titulo, expediente_escrito_path(@expediente.id, escrito.id) %>
      </li>
  <% end %>
</ul>
<%= render 'shared/tabs_contenedor' do %>
    <%= yield %>
<% end %>