<%= render partial: 'form', locals: {mostrar_boton_cancelar: true} %>
<div id="encabezado" hidden><%= Encabezado.new(current_abogado, @expediente, @cliente).cuerpo %></div>
<script>
  $( iniciarEditorConEncabezadoPatrocinanteYTitulosParaDemanda );
</script>
