<%= render partial: 'escritos/form', locals: {mostrar_boton_cancelar: false} %>
<div id="formulario_notificacion" hidden>
  <%= render 'notificacion_formulario' %>
</div>
<script>
  $( iniciarEditorNotificacion );
</script>
