<% if flash[:success] %>
  <div class="alert alert-success .alert-dismissible" role="alert">
    <%= flash[:success].html_safe %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-info .alert-dismissible" role="alert">
    <%= flash[:notice].html_safe %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning .alert-dismissible" role="alert">
    <%= flash[:alert].html_safe %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger .alert-dismissible" role="alert">
    <% flash[:error].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('.alert').remove();
    }, 7000);
  })
</script>