<% if abogado_signed_in? %>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active">
      <%= form_tag(clientes_path, method: 'get') do %>
        <div class="input-group">
          <span class="input-group-btn">
            <%= button_tag(type: "submit", class: "btn btn-default", id: 'panel_izquierdo__buscar') do %>
                <i class="glyphicon glyphicon-search panel_izquierdo__buscar"></i>
            <% end %>
          </span>
          <%= text_field_tag :query, params[:query], class: 'form-control', id: 'panel_izquierdo__query' %>
        </div>
      <% end %>
    </li>
    <li role="presentation">
      <button type="button" class="btn btn-default btn-block">
        <i class="glyphicon glyphicon-calendar pull-left"></i> Calendario
      </button>
    </li>
    <li role="presentation">
      <button type="button" class="btn btn-default btn-block">
        <i class="glyphicon glyphicon-bell pull-left"></i> Notificaciones
      </button>
    </li>
    <li role="presentation">
      <button type="button" class="btn btn-default btn-block">
        <i class="glyphicon glyphicon-file pull-left"></i> Notas Rapidas
      </button>
    </li>
    <li role="presentation">
      <button type="button" class="btn btn-default btn-block">
        <i class="glyphicon glyphicon-lock pull-left"></i> Personal
      </button>
    </li>
    <li role="presentation">
      <button type="button" class="btn btn-default btn-block">
        <i class="glyphicon glyphicon-comment pull-left"></i> Comunidad
      </button>
    </li>
  </ul>
<% end %>
<script type="text/javascript">
  $("#panel_izquierdo__query").val("");

  $( "#panel_izquierdo__buscar" ).prop('disabled', true);

  $("#panel_izquierdo__query").on('change keyup paste', function() {
    var busqueda = $("#panel_izquierdo__query").val();

    if(busqueda != "" ){

      $( "#panel_izquierdo__buscar" ).prop('disabled', false);
    }else{

      $( "#panel_izquierdo__buscar" ).prop('disabled', true);
    }
  });
</script>