<%= render 'shared/tabs_contenedor' do %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <%= link_to "#{@expediente.titulo}", expediente_path(@expediente.id), :method => :get, class: 'active' %>
    </li>
  </ul>
<% end %>